@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

.menu-bar {
  background: black;
  background-size: 400px 400px;
  border: 5px solid black;
  color: white;
  font-style: bold;
  margin: auto;
  padding: 5px;
  text-decoration: none;
  width: 50%;
}

.menu-bar:hover {
  
  background: black;
  border: 5px solid black;border: 5px solid black;
  color: white;
  font-style: bold;
  margin: auto;
  padding: 10px;
  text-decoration: underline;
  width: 50%;
}

body {
  background: white;
  background-size: auto 100vh;
  color: black;
  font-family: 'Roboto Mono';
  /* height: 100vh; */
}

footer {
  color: white;
  background-color:white;
  padding: 3px;
  text-align: center;
}

.image-perfil {
  border: 5px solid black;
  border-radius: 4px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  padding: 5px;
  width: 150px;
}

.image-perfil:hover {
  color: black;
  background: black;
  font-style: bold;
  text-decoration: underline;
}

.image-social {
    border: 5px solid black;
    border-radius: 4px;
    border-top-left-radius: 40% 40%;
    border-top-right-radius: 40% 40%;
    border-bottom-right-radius: 40% 40%;
    border-bottom-left-radius: 40% 40%;
    padding: 5px;
    width: 40px;
}

.image-social:hover {
  background: white;
  border: 5px solid black;border: 5px solid black;
  color: white;
  font-style: bold;
  margin: auto;
  padding: 10px;
  text-decoration: underline;
  width: 2%;
}

.menu {
  background-color: white;
}

.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.site-title,
.site-subtitle {
  text-align: center;
}

.site-subtitle {
  font-style: italic;
}