body {
   background: black;
   background-size: auto 100vh;
   color: #00E426;
   font-family:'Monaco';
   /* height: 100vh; */
 }
 
 .menu {
   background-color: black;
 }
 
 .menu li {
   list-style: none;
 }
 
 .menu ul {
   display: flex;
   justify-content: space-around;
 }
 
 a {
   background: #00E426;
   background-size: 400px 400px;
   color: black;
   text-decoration: none; 
   
   margin: auto;
   width: 50%;
   border: 5px solid #00E426;
   padding: 5px;
 }
 
 a:hover {
   text-decoration: underline;
   background: black;
   color: #00E426;
   font-style: bold;
   
   margin: auto;
   width: 50%;
   border: 5px solid #00E426;
   padding: 10px;
 }
 
 .site-title,
 .site-subtitle {
   text-align: center;
 }
 
 .site-subtitle {
   font-style: italic;
 }
 
 