* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  background-color: rgb(15, 27, 53);
  color: white;
}

div {
  margin-top: 20%;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: white;
}

div a {
  font-size: 3em;
}