body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(10px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  padding: 0vh 20vw;
  color: #121314;
}

.photo {
  border-radius: 50%;
}

h1 {
  font-size: 4.5em;
  font-weight: 500;
  margin-bottom: 0;
}

p {
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.4;
  max-width: 28em;
}

a {
  text-decoration: none;
  color: #121314;
  position: relative;
}

.links:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 70%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
  background-color: #2fc18c;
}

a:hover:after {
  top: 0%;
}

.tech li {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.2;
  max-width: 28em;
}

section div {
  display: inline;
  margin-right: 50px;
}

section div a img {
  border-radius: 20px;
}

.icons li {
  display: inline;
  margin-right: 40px;
}

footer {
  margin-bottom: 50px;
}

/*CSS Ballon*/
.balloon {
  margin-top: 50px;
  width: 50px;
  height: 60px;
  background-color: #000000;
  border-radius: 30px;
  position: absolute;
}

