* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #fff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgb(255 255 255 / 0.5);
  --surface-color: rgb(255 255 255 / 0.05);
  --surface-color-hover: rgb(0 0 0 / 0.02);
  --highlight-color: rgb(255 255 255 / 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: #000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgb(0 0 0 / 0.5);
  --surface-color: rgb(0 0 0 / 0.05);
  --surface-color-hover: rgb(0 0 0 / 0.02);
  --highlight-color: rgb(0 0 0 / 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body * {
  font-family: 'Inter', sans-serif;
  color: var(--text-color);
}

body {
  background-image: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

/*********** PROFILE **********/

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile h2 {
  line-height: 24px;
  margin-top: 8px;
}

#profile p {
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
}

/*********** SWITCH **********/
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/*********** LINKS **********/
#links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

#links li .icons {
  margin-right: 8px;
}

#links li a {
  display: flex;
  align-items: center;
  /* Alinha verticamente */
  justify-content: center;
  /* Alinha horizontalmente */
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

#links li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}