* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: rgb(15, 27, 53);
  color: white;
}

.header {
  position: fixed;
  background-color: rgb(13, 24, 42);
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 100%;
}

.nav-bar {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav-bar a {
  text-decoration: none;
  margin: 0 50px;
  font-size: 1.2em;
  color: white;
}

.nav-bar a:hover {
  text-decoration: line-through;
  color: #ffe400;
}

.content {
  margin: 0 auto;
  width: 50%;
  line-height: 1.5em;
  font-size: 1.2em;
  text-align: justify;
}

.box {
  text-align: center;
}

.perfil-photo {
  border-radius: 50%;
  width: 200px;
  margin-top: 150px;
  margin-bottom: 50px;
}

.tech {
  margin: 50px 0;
}

#learning,
#projects,
#contact {
  margin-bottom: 20px;
}

.list-links {
  list-style: none;
  font-size: 0.9em;
}

footer {
  margin: 50px 0;
}

footer ul li {
  display: inline;
  margin: 10px 20px;
}

.links {
  color: #ff9600;
}

.links:hover {
  text-decoration: line-through;
  color: #ffe400;
}

.fa {
  padding: 5px;
  font-size: 10px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: auto;
  border-radius: 5px;
}

.fa:hover {
  opacity: 1;
  font-size: 20px;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
