.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.main header {
  width: 100%;
  display: flex;
}

.main header nav ul {
  display: flex;
  align-self: flex-end;
}